@media print {
    * {
        filter: none !important;
        text-shadow: none;
      }
      h1 {
        margin: 0 !important ;
      }
      html {
        font-size: 0.8em !important;
      }
      .szolgaltatasArticle {
        margin: 0;
      }
      .printHide {
        display: none;
      }
      figure {
        overflow: auto;
      }
      html,
      body {
        height: 100%;
        background: #fff;
      }
      #videoSzoveg {
        display: none;
      }
      article {
        margin: 1em 0;
      }
      #cim {
        height: auto;
      }
      details {
        display: none;
      }
      img {
        width: 50%;
      }
      .allo {
        width: auto !important;
        height: 20%;
      }
      video {
        display: none;
      }
      video,
      details,
      #videoSzoveg,
      footer > *,
      nav,
      .szoveg > a {
        display: none !important;
      }
}
